html, body {
	margin: 0 !important;
	padding: 0 !important;
}

#main {
	display: grid; /*ten element pokazuje ze strona jest wyświetlana w siatce */
	grid-template-columns: 25vw auto 25vw; /* ustalenie szerokości siatki na stronie */
	grid-template-rows: 15vh 10vh 65vh 10vh; /* ustalenie wysokości na stronie */
}

#logo {
	background: green;/* kolor danego elementu strony (te elementy znajduja sie we wszstkich elementach tkore chcemy umiescic na stronie )*/
	grid-row: 1;/* rząd w którym znajduje sie ten element  (te elementy znajduja sie we wszstkich elementach tkore chcemy umiescic na stronie )*/
	grid-column: 1;/* kolumna w której znajduje sie ten element (te elementy znajduja sie we wszstkich elementach tkore chcemy umiescic na stronie ) */
}

#title {
	background: yellow;
	grid-row: 1;
	grid-column: 2;
}

#login {
	background: orange;
	grid-row: 1;
	grid-column: 3;
}

#nav {
	background: red;
	grid-row: 2;
	grid-column: 1 / 4;
}

#submenu {
	background: blue;
	grid-row: 3;
	grid-column: 1;
}

#content {
	background: gray;
	grid-row: 3;
	grid-column: 2;
	display: block;
	overflow-y: auto;
	grid-template-columns: repeat(3, 1fr);
}
#col1 {
	grid-column: 1;
}

#col2 {
	grid-column: 2;
}

#foot {
	background: lightgray;
	grid-row: 4;
	grid-column: 1 / 4;
}

.button { /*tutaj określamy jak ma wyglądać przycisk */ 
	position: relative;
	z-index: 1;
	
	text-align: center;
	border: solid yellow 1px;
}

.button::before { /*tutaj określamy jak ma wyglądac przycisk */
	content: ''; 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: gray;
}

.button:hover { /*tutaj określamy jak ma wyglądać kursor po najechanu na dany przycisk */
	cursor: pointer;
}


.button:hover::before{
	opacity: 0.6; /* tutaj określamy przezroczystość danego elementu*/
}

figure.galeria img {
	width: 100%; /*tutaj określamy szerokość zdjecia które dodaliśmy na strone */
	height: auto;/* tutaj określamy wysokość zdjecia które dodaliśmy na strone */
}
